body {
  background-color: antiquewhite;
  border: solid black;
  padding: 1%;
  margin: 1%;
}

h1 {
  color: brown;
}

div#newDiv {
  font-weight: bold;
  padding: 2%;
  margin: 3%;
}

div#showDiv {
  background-color: bisque;
  border: solid sandybrown;
  padding: 2%;
  margin: 3%;
}


