@{
  Layout = "_Layout";
}

<h1>Order Details:</h1>

<h2>@Model["order"].Name</h2>
<p>Order Description: @Model["order"].Description</p>
<p>Date of Order: @Model["order"].Date</p>
<p>Order Price: @Model["order"].Price</p>

<a href='/vendors'>Return to Vendors</a>